@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --primary: #316b00;
  --primary-container: #7ec151;
  --on-primary-container: #214c00;
  --secondary: #4c6700;
  --secondary-container: #c6ee6b;
  --on-secondary-container: #506c00;
  --background: #f7fbed;
  --surface: #f7fbed;
  --surface-lowest: #ffffff;
  --surface-low: #f2f5e8;
  --surface-container: #ecefe2;
  --surface-high: #e6eadc;
  --surface-variant: #e0e4d7;
  --on-surface: #191d15;
  --on-surface-variant: #41493a;
  --outline: #727a69;
  --outline-variant: #c1c9b6;
}

body,
button,
input,
textarea,
select {
  font-family: 'Noto Sans KR', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
  line-height: 1;
  display: inline-block;
}

.material-symbols-outlined.fill-1 {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
